.dev{
  background-color: white;
  padding: 7px;
}

body{
  padding: 10vw 30vw 10vw 30vw;
}

.col-12{
  color: white;
}

#name{
  background-color: black;
  padding: 9px;
  border-radius: 5px;
}

.row{
  padding: 3px 7vw 3px 7vw;
}

.fa {
  padding: 9px;  
  text-decoration: none;
  border-radius: 55vw;
}

.fa:hover {
  opacity: 0.5;
  color: black;
  background-color: grey;
}

.fa-instagram {
  background: black;
  color: white;
}

.fa-google {
  background: black;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}


@media (max-width:700px){
  body{
    padding: 2vw 10vw 2vw 10vw;
  }
}



