<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Developer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cantarell&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="heading" align="center">
      <h1>D e v e l o p e r</h1>
    </div>
    <br>
    <div class="dev" align="center">

      <div class="img">
        <img src="../static/me.jpeg" width="140px" style="border-radius:50%;">
      </div>

      <div class="name">
        Suman Gurung
        <div class="social">
          <a href="https://www.instagram.com/suman__grg/" class="fa fa-instagram"></a>
          <a href="https://mail.google.com/mail/u/0/#inbox" class="fa fa-google"></a>
          <a href="https://github.com/SumanGurung01" class="fa fa-github"></a>
        </div>
      </div>

    </div>

    <footer>
      <p align="center">&copy; 2021 created by Suman Gurung</p>
    </footer>


  </body>
</html>
